* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header-index {
  background-color: rgb(160, 5, 5);
  color: white;
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-productos {
  background-color: rgb(160, 5, 5);
  color: white;
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-fotos {
  background-color: rgb(160, 5, 5);
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contactos {
  background-color: rgb(160, 5, 5);
  color: white;
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-informacion {
  background-color: rgb(160, 5, 5);
  color: white;
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra-de-navegacion {
  display: flex;
  gap: 1.25em;
}

a {
  text-decoration: none;
  color: white;
}

.volver-arriba:hover {
  color: rgb(160, 5, 5);
}

.footer {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 3.125em;
}
.footer__img {
  width: 40px;
  height: 40px;
  padding: 1.25em;
}

.fondo__img {
  width: 100%;
}

.fondo__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: rgb(160, 5, 5);
  color: white;
  padding: 1.25em;
}

.productos-index {
  display: flex;
  justify-content: center;
  padding: 0.625em;
  color: white;
  background-color: rgb(160, 5, 5);
  font-size: 2rem;
}

.link-productos {
  display: flex;
  justify-content: center;
  padding: 0.625em;
  color: white;
  background-color: rgb(160, 5, 5);
  font-size: 2rem;
}
.link-productos:hover {
  background-color: white;
  color: rgb(160, 5, 5);
  border: 1px black solid;
}

.index-fotos {
  display: flex;
  justify-content: center;
  padding: 0.625em;
  color: white;
  background-color: rgb(160, 5, 5);
  font-size: 2rem;
}
.index-fotos__seccion {
  padding-top: 1em;
}

.index-fotos__img {
  display: flex;
  justify-content: center;
}

.index-contactos {
  display: flex;
  justify-content: center;
  padding: 0.625em;
  color: white;
  background-color: rgb(160, 5, 5);
  font-size: 2rem;
}
.index-contactos__seccion {
  padding-top: 1em;
}
.index-contactos__texto {
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.351);
  padding: 1em;
}

.tarjeta__titulo {
  padding-bottom: 1.875em;
}

.tarjeta {
  padding: 0.625em;
  width: 200px;
  height: 300px;
  border: 2px solid black;
}
.tarjeta-contenedor {
  display: flex;
  justify-content: space-around;
  gap: 0.625em;
}

.tarjeta__img {
  width: 160px;
  height: 160px;
  background-color: white;
}

.btn {
  background-color: rgb(160, 5, 5);
  color: white;
  padding: 0.625em;
  justify-content: baseline;
  display: flex;
  width: 35%;
}
.btn:hover {
  background-color: white;
  color: rgb(160, 5, 5);
  border: 1px black solid;
}

.seccion-bebidas {
  width: 100%;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 270px 270px 270px 270px 270px;
  padding-top: 1.875em;
  padding-bottom: 1.875em;
}

.productos-bebidas {
  font-size: 3rem;
  background-color: rgba(128, 128, 128, 0.351);
  justify-content: center;
  display: flex;
}

.tarjeta-bebidas {
  width: 200px;
  height: 300px;
  border: 2px solid black;
}

.productos-sonido {
  font-size: 3rem;
  background-color: rgba(128, 128, 128, 0.351);
  justify-content: center;
  display: flex;
}

.seccion-sonido {
  width: 100%;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 270px 270px 270px 270px 270px;
  padding-top: 1.875em;
  padding-bottom: 3.125em;
}

.tarjeta-sonido {
  padding: 0.625em;
  width: 200px;
  height: 300px;
  border: 2px solid black;
}

.productos-tecnologia {
  font-size: 3rem;
  background-color: rgba(128, 128, 128, 0.351);
  justify-content: center;
  display: flex;
}

.seccion-tecnologia {
  width: 100%;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 270px 270px 270px 270px 270px;
  padding-top: 1.875em;
  padding-bottom: 3.125em;
}

.tarjeta-tecnologia {
  padding: 0.625em;
  width: 200px;
  height: 300px;
  border: 2px solid black;
  padding-bottom: 1.875em;
}

.fotos__texto {
  font-size: 3rem;
  background-color: rgba(128, 128, 128, 0.351);
  display: flex;
  justify-content: center;
}

.fotos__img {
  height: 600px;
  width: 800px;
}

.fotos {
  text-align: center;
}

.contactos-img {
  width: 80px;
  height: 80px;
  padding: 1.25em;
}

.contactos-texto {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background-color: rgba(128, 128, 128, 0.351);
}

.redes-contactos__titulo {
  padding: 1.25em;
}

.contactos-respuesta {
  padding-top: 10em;
}

.contactos-seccion {
  padding-bottom: 10em;
}

.redes-contactos__titulo {
  padding: 1.25em;
}

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
}
.formulario__email {
  margin-top: 10px;
  font-weight: bold;
}

input[type=text],
input[type=email] {
  padding: 10px;
  margin: 5px 0;
  border-radius: 3px;
  border: none;
}

.formulario__btn {
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(160, 5, 5);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.formulario__btn:hover {
  background-color: white;
  color: rgb(160, 5, 5);
}

.informacion {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 744px 600px;
  height: 600px;
}
.informacion__titulo {
  padding: 0.625em;
  display: flex;
  justify-content: center;
  background-color: rgb(160, 5, 5);
  color: white;
}

.informacion__img {
  padding: 0.625em;
  height: 300px;
  width: 400px;
}

.informacion-tarjeta__informacion {
  border: black 2px solid;
  padding: 0.625em;
  height: 480px;
  width: 512px;
  display: flex;
  flex-direction: column;
}

.informacion__tarjeta {
  border: black 2px solid;
  padding: 0.625em;
  height: 880px;
  width: 512px;
  display: flex;
  flex-direction: column;
}

.informacion__sucursales {
  display: flex;
  justify-content: center;
  padding: 0.75em;
  font-family: "Playfair Display", serif;
  background-color: rgba(128, 128, 128, 0.351);
}

.informacion__texto {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  padding: 0.75em;
}

.seccion-informacion {
  padding-bottom: 24em;
}

@media (max-width: 400px) {
  .fotos__img {
    height: 300px;
    width: 400px;
  }
  .header-texto {
    font-size: 1.25rem;
  }
  .header-fotos {
    flex-direction: column;
  }
  .barra-de-navegacion__principal {
    padding: 0.75em;
  }
  .barra-de-navegacion__productos {
    padding: 0.75em;
  }
  .barra-de-navegacion__redes {
    padding: 0.75em;
  }
  .barra-de-navegacion__contactos {
    padding: 0.75em;
  }
  .barra-de-navegacion__informacion {
    padding: 0.75em;
  }
  .barra-de-navegacion {
    display: block;
    font-size: 0.625rem;
  }
  .header-informacion {
    flex-direction: column;
  }
  .informacion {
    display: block;
    padding-bottom: 30em;
  }
  .informacion__tarjeta {
    width: 375px;
    height: 880px;
  }
  .header-contactos {
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
  }
  .texto-contactos {
    font-size: 1.5rem;
  }
  .header-index {
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }
  .texto-fondo {
    font-size: 1rem;
  }
  .productos-index {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
  .tarjeta-contenedor {
    display: block;
    padding-left: 5.5em;
  }
  .informacion-tarjeta__informacion {
    width: 376px;
  }
  .informacion__img {
    width: 356px;
  }
  .header-productos {
    flex-direction: column;
    justify-content: center;
    font-size: 0.65rem;
  }
  .productos-bebidas {
    font-size: 2rem;
  }
  .productos-sonido {
    font-size: 2rem;
  }
  .productos-tecnologia {
    font-size: 2rem;
  }
  .seccion-bebidas {
    display: block;
    padding-left: 6em;
  }
  .seccion-sonido {
    display: block;
    padding-left: 5.5em;
  }
  .seccion-tecnologia {
    display: block;
    padding-left: 5.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
