*{
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.volver-arriba:hover{
    color:  rgb(160, 5, 5);
}
.header-index{
    background-color: rgb(160, 5, 5);
    color: white; 
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-de-navegacion{
    display: flex;
    gap: 1.25rem;
}
.fondo {
    background-color: grey;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image:url(img/grocery-g62c28d450_1280.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(160, 5, 5, 0.644);
    color: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
}
.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 3.125rem;
}
.footer__img{
    width: 2.5rem;
    height: 2.5rem;
    padding: 1.25rem;
}

a{
    text-decoration: none;
    color: white;
}
.productos-index{
    display: flex;
    justify-content: center;
    padding: 0.625rem;
    color: white;
    background-color: rgb(160, 5, 5);
}

.tarjeta__titulo{
    padding-bottom: 1.875rem;
}
.tarjeta{
    padding: 0.625rem;
    width: 12.5rem;
    height: 18.75rem;
    border: 0.125rem solid black;
}

.tarjeta-contenedor{
    display: flex;
    justify-content: space-around;
    gap: 0.625rem;
}
.tarjeta__img{
    width: 10rem;
    height: 10rem;
    background-color: white;
}

.btn{
    background-color: red;
    color: white;
    padding: 0.625rem;
    justify-content: baseline;
    display: flex;
    width: 35%;
}
.btn:hover{
    background-color: white;
    color: red;
    border: 0.063rem black solid;
}

/* PAGINA-PRODUCTOS */

.header-productos{
    background-color: rgb(160, 5, 5);
    color: white; 
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seccion-bebidas{
    width: 100%;
    display: grid;
    grid-template-rows: 18.75rem;
    grid-template-columns: 16.875rem 16.875rem 16.875rem 16.875rem 16.875rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}
.productos-bebidas{
    font-size: 3rem;
    background-color: rgba(128, 128, 128, 0.351);
    justify-content: center;
    display: flex;
}
.tarjeta-bebidas{
    width: 12.5rem;
    height: 18.75rem;
    border: 0.125rem solid black;
}
.productos-sonido{
    font-size: 3rem;
    background-color: rgba(128, 128, 128, 0.351);
    justify-content: center;
    display: flex;
}
.seccion-sonido{
    width: 100%;
    display: grid;
    grid-template-rows: 18.75rem;
    grid-template-columns: 16.875rem 16.875rem 16.875rem 16.875rem;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}
.tarjeta-sonido{
    padding: 0.625rem;
    width: 12.5rem;
    height: 18.75rem;
    border: 0.125rem solid black;
}
.productos-tecnologia{
    font-size: 3rem;
    background-color: rgba(128, 128, 128, 0.351);
    justify-content: center;
    display: flex;
}
.seccion-tecnologia{
    width: 100%;
    display: grid;
    grid-template-rows: 18.75rem;
    grid-template-columns: 16.875rem 16.875rem 16.875rem 16.875rem 16.875rem;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}
.tarjeta-tecnologia{
    padding: 0.625rem;
    width: 12.5rem;
    height: 18.75rem;
    border: 0.125rem solid black;
    padding-bottom: 1.875rem;
}


/* PAGINA-FOTOS */

.header-fotos{
    background-color: rgb(160, 5, 5);
    color: white; 
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fotos__texto{
    font-size: 3rem;
    background-color: rgba(128, 128, 128, 0.521);
    display: flex;
    justify-content: center;
}
.fotos__img{
    height: 37.5rem;
    width: 50rem;
}
.fotos{
    text-align: center;
}

/* PAGINA-CONTACTOS */

.header-contactos{
    background-color: rgb(160, 5, 5);
    color: white; 
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto-contactos{
    font-size: 2rem;
    background-color: rgba(128, 128, 128, 0.521);
    display: flex;
    justify-content: center;
}

/* PAGINA-INFORMACION */

.header-informacion{
    background-color: rgb(160, 5, 5);
    color: white; 
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.informacion{
    display: grid;
    grid-template-rows: 18.75rem;
    grid-template-columns: 46.5rem 37.5rem;
    height: 34.375rem;
}
.informacion__titulo{
    padding: 0.625rem;
}
.informacion__img{
    padding: 0.625rem;
    height: 18.75rem;
    width: 25rem;
}

.informacion__tarjeta{
    border: black 0.125rem solid;
    padding: 0.625rem;
    height: 32rem;
    width: 32rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 400px) {
    .fotos__img{
        height: 18.75rem;
        width: 25rem;
    }
    .header-texto{
        font-size: 1.25rem;
    }
    .header-fotos{
        flex-direction: column;
    }
    .barra-de-navegacion{
        display: block;
        font-size: 0.625rem;
    }
    .header-informacion{
        flex-direction: column;
    }
    .informacion__img{
        width: 18.75rem;
    }
    .informacion__tarjeta{
        width: 23.438rem;
        height: 43.75rem;
    }
    .informacion{
        display: block;
        padding-bottom: 56.25rem;
    }
}
