.fondo__img{
    width: 100%;
}
.fondo__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: $color-principal;
    color: white;
    padding: 1.25em;
  }
  
.productos-index{
    display: flex;
    justify-content: center;
    padding: 0.625em;
    color: white;
    background-color: $color-principal;
    font-size: 2rem;
  }
.link-productos{
    display: flex;
    justify-content: center;
    padding: 0.625em;
    color: white;
    background-color: $color-principal;
    font-size: 2rem;

    &:hover{
      background-color: white;
      color: $color-principal;
      border: 1px $color-bordes solid;
    }
  }
 .index-fotos{
    display: flex;
    justify-content: center;
    padding: 0.625em;
    color: white;
    background-color: $color-principal;
    font-size: 2rem;
    &__seccion{
      padding-top: 1em;
    }
  }
 .index-fotos__img{
  display: flex;
  justify-content: center;
 }

 .index-contactos{
  display: flex;
  justify-content: center;
  padding: 0.625em;
  color: white;
  background-color: $color-principal;
  font-size: 2rem;
  &__seccion{
    padding-top: 1em;
  }
  &__texto{
    display: flex;
    justify-content: center;
    background-color: $color-secciones;
    padding: 1em;
  }
 }