.barra-de-navegacion {
    display: flex;
    gap: 1.25em;
    &__productos{
    display: flex;
    gap: 1.25em;
    }
    &__fotos{
    display: flex;
    gap: 1.25em;
    }
    &__informacion{
    display: flex;
    gap: 1.25em;
    }
    &__contactos{
    display: flex;
    gap: 1.25em;
    }
    &__items{
      list-style: none;
    }
  }
      
  a {
    text-decoration: none;
    color: white;
  }
