.header-index {
    background-color: $color-principal;
    color: white;
    padding: 0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-productos {
    background-color: $color-principal;
    color: white;
    padding: 0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-fotos {
    background-color: $color-principal;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-contactos {
    background-color: $color-principal;
    color: white;
    padding: 0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-informacion {
    background-color: $color-principal;
    color: white;
    padding: 0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }